@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}

* {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #111111;
}

.sec-body {
  background-image: url(https://images.unsplash.com/photo-1625492600712-84d1b02dc263?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 28rem;
}

.img-fotograf {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-fotograf {
  height: 100vh;
}

.header_burger_svg {
  position: relative;
  top: 20px;
  left: 20px;
  fill: #fff;
  cursor: pointer;
}

.burger-navigation {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: calc(100vh - 8rem);
  background-color: #000;
}

.burger-navigation .burger-nav-link {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
  text-decoration: none;
  border: #fff 1px solid;
  width: 8rem;
  margin-bottom: 4rem;
}

.burger-container {
  min-height: 100vh;
  background-color: black;
}

.main-header {
  background-color: rgba(10, 10, 10, 0.733);
  height: 5rem;
}

.main-header .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 4rem;
  height: 100%;
}

.main-header .main-navigation ul {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-block: 1rem;
}

.main-header .main-navigation ul li {
  width: 8rem;
  margin-inline: 0.2rem;
}

.main-header .main-navigation ul .main-nav-link {
  color: #fff;
  text-align: center;
  padding: .3rem 2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  border: #fff 1px solid;
  font-size: 0.9rem;
}

.main-logo {
  position: relative;
  min-height: calc(100vh - 8rem);
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-rows: 25vw 25vh;
  -ms-grid-columns: 68%;
      grid-template: 25vw 25vh / 68%;
  color: #fff;
  font-size: 7vw;
}

.main-logo p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border-inline: #fff solid 4px;
  padding-inline: 0.5rem;
}

.main-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.click-about-icon {
  margin-top: 2.7rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  -webkit-transition: top 2s, -webkit-transform 0.7s;
  transition: top 2s, -webkit-transform 0.7s;
  transition: top 2s, transform 0.7s;
  transition: top 2s, transform 0.7s, -webkit-transform 0.7s;
  top: 0;
  border-radius: 50%;
}

.click-about-icon:hover {
  -webkit-animation: svgArrowIconAnim 1.2s;
          animation: svgArrowIconAnim 1.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  top: 2rem;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

@-webkit-keyframes svgArrowIconAnim {
  0% {
    border-left: #fff solid 3px;
  }
  25% {
    border-left: #fff solid 3px;
    border-top: #fff solid 3px;
  }
  50% {
    border-top: #fff solid 3px;
    border-inline: #fff solid 3px;
  }
  100% {
    border: #fff solid 3px;
  }
}

@keyframes svgArrowIconAnim {
  0% {
    border-left: #fff solid 3px;
  }
  25% {
    border-left: #fff solid 3px;
    border-top: #fff solid 3px;
  }
  50% {
    border-top: #fff solid 3px;
    border-inline: #fff solid 3px;
  }
  100% {
    border: #fff solid 3px;
  }
}

.myIconButton {
  height: 8rem;
}

.main-logo-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7vw;
  row-gap: 5vh;
  height: 80vh;
}

.main-logo-burger p {
  text-align: center;
  border-inline: #fff solid 4px;
}

.main-logo-burger .click-about-icon {
  width: 75px;
  height: auto;
}

#burger_img_fotograf {
  height: 100%;
}

main {
  z-index: -1;
  padding-top: 4rem;
  margin-top: 3rem;
  position: absolute;
  word-spacing: 1px;
  letter-spacing: 3px;
  color: #fff;
  background-color: #111111;
  height: auto;
}

main .about-section {
  max-width: 1700px;
  padding-inline: 5rem;
  margin: 0 auto;
}

main .about-section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (3fr)[5];
      grid-template: repeat(3, 1fr)/repeat(5, 3fr);
  text-align: center;
  gap: 5rem 10rem;
}

main .about-section div img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

main .about-section div .section-img-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main .about-section div .para-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .about-section div .section-img-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

main .about-section div .para-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main .about-section div .section-img-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

main .about-section div .para-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.back-button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #fff;
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
  .click-about-icon {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .back-button {
    display: none;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 0px) {
  main {
    background-color: #111111;
  }
  main .about-section div {
    display: block;
  }
  main .about-section div p {
    margin-block: 5rem;
  }
  main .about-section div img {
    max-width: 30rem;
  }
}
/*# sourceMappingURL=style.css.map */