@charset "UTF-8";
* {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", sans-serif;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 60000000000s 0s, color 60000000000s 0s;
  transition: background-color 60000000000s 0s, color 60000000000s 0s;
}

body {
  min-height: 100vh;
  background-color: #111111;
  overflow-x: hidden;
}

.sec-body {
  overflow-y: visible;
  background-image: url("../img/human-header-photo.jpg");
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 28rem;
  -webkit-box-shadow: 0 -250px 180px 0 #070707 inset;
          box-shadow: 0 -250px 180px 0 #070707 inset;
}

.img-fotograf {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-fotograf {
  height: 100vh;
}

.header_burger_svg {
  position: relative;
  top: 20px;
  left: 20px;
  fill: #fff;
  cursor: pointer;
}

.burger-navigation {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: calc(100vh - 8rem);
  background-color: #000;
}

.burger-navigation .burger-nav-link {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 3.5rem;
  text-decoration: none;
  border: #fff 1px solid;
  margin-bottom: 4rem;
}

.burger-container {
  min-height: 100vh;
  background-color: black;
}

.main-header {
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.63);
  height: 5.5rem;
}

.main-header .main-navigation {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 4rem;
  height: 100%;
}

.main-header .main-navigation ul {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-block: 1rem;
}

.main-header .main-navigation ul li {
  width: 8rem;
  margin-inline: 0.2rem;
}

.main-header .main-navigation ul .main-nav-link {
  color: #fff;
  text-align: center;
  padding: 0.3rem 2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  border: #fff 1px solid;
  font-size: 0.9rem;
}

.main-logo {
  min-height: calc(100vh - 8rem);
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-rows: 25vw 25vh;
  -ms-grid-columns: 68%;
      grid-template: 25vw 25vh / 68%;
  color: white;
  font-size: 7vw;
}

.main-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pachota-photos-logo {
  width: 200px;
  height: 200px;
}

.click-about-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  -webkit-transition: top 2s, -webkit-transform 0.7s;
  transition: top 2s, -webkit-transform 0.7s;
  transition: top 2s, transform 0.7s;
  transition: top 2s, transform 0.7s, -webkit-transform 0.7s;
  top: 7rem;
  border-radius: 50%;
}

.click-about-icon:hover {
  top: 12rem;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

.myIconButton {
  height: 8rem;
}

.main-logo-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7vw;
  row-gap: 5vh;
  height: 80vh;
}

.main-logo-burger p {
  text-align: center;
  border-inline: #fff solid 4px;
}

.main-logo-burger .click-about-icon {
  width: 75px;
  height: auto;
}

#burger_img_fotograf {
  height: 100%;
}

#main {
  z-index: -1;
  position: absolute;
  padding-top: 2rem;
  width: 100%;
  color: #fff;
  background-color: #111111;
}

#main .about-section {
  padding-bottom: 80px;
  max-width: 1700px;
  padding-inline: 5rem;
  margin: 0 auto;
}

#main .about-section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (3fr)[5];
      grid-template: repeat(3, 1fr)/repeat(5, 3fr);
  text-align: center;
  gap: 5rem 10rem;
}

#main .about-section div .span-text {
  color: #df0000;
  letter-spacing: 1px;
}

#main .about-section div #furt_bokem {
  letter-spacing: 1px;
  text-decoration: none;
  color: #df0000;
}

#main .about-section div img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

#main .about-section div .section-img-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#main .about-section div .para-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main .about-section div .section-img-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

#main .about-section div .para-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#main .about-section div .section-img-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

#main .about-section div .para-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main .contact {
  height: calc(100vh - 5rem);
  margin-inline: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Oswald", sans-serif;
}

#main .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #111111;
}

#main .contact .contact-form .errors2 {
  min-width: 20rem;
  width: 40%;
  border-inline: white 5px solid;
  padding-left: 5px;
}

#main .contact .contact-form input {
  min-width: 20rem;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  width: 40%;
  border: 5px white solid;
  border-bottom: none;
  background-color: rgba(124, 116, 116, 0);
  position: relative;
}

#main .contact .contact-form #email_id {
  min-width: 20rem;
  border-radius: 5px 5px 0 0;
}

#main .contact .contact-form input[type="submit"] {
  cursor: pointer;
  border-bottom: #fff 5px solid;
  border-radius: 0 0 5px 5px;
}

#main .contact .contact-form textarea {
  min-width: 20rem;
  width: 40%;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #050505 solid;
  resize: vertical;
  min-height: 4rem;
  height: 10rem;
  border: 5px white solid;
  border-bottom: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
}

#main .contact .contact-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 5rem 5rem;
  -ms-grid-columns: (auto)[1];
      grid-template: 5rem 5rem/repeat(1, auto);
  margin-top: 4rem;
  row-gap: 3rem;
  text-align: center;
}

#main .contact .contact-container .container-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .contact .contact-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2rem;
  font-size: 3.5vw;
}

#main .contact .contact-container .links.ig {
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 20%, #dc2743 40%, #cc2366 60%, #bc1888 100%);
}

#main .contact .contact-container .links.email {
  background-image: linear-gradient(45deg, #db364f 0%, #a80a0a 70%, #df6275 100%);
}

#main .contact .link-logo {
  margin-bottom: -15px;
}

#main .contact .link-logo .logo {
  height: 70px;
  width: 70px;
}

#main .contact a {
  color: #fff;
  height: 100px;
  font-size: 4rem;
}

#main .contact-heading {
  text-align: center;
  height: 7rem;
  margin-bottom: 8rem;
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
}

.back-button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: auto;
  -webkit-transition: opacity 1s, right 0.5s;
  transition: opacity 1s, right 0.5s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #fff;
}

.back-button:hover {
  opacity: 0.6;
  right: 15px;
}

.admin-anim {
  min-height: 100vh;
  width: 100%;
  -webkit-animation: adminBackground 8s infinite;
          animation: adminBackground 8s infinite;
  background-image: linear-gradient(45deg, #854500 0%, #b12f00 20%, #950016 40%, #a70043 60%, #88045e 100%);
  background-repeat: no-repeat;
  background-size: 400% 400%;
}

.admin-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-header h1 {
  color: white;
  font-size: 6rem;
}

@-webkit-keyframes adminBackground {
  0% {
    background-position: 0% 50%;
  }
  33% {
    background-position: 100% 50%;
  }
  66% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes adminBackground {
  0% {
    background-position: 0% 50%;
  }
  33% {
    background-position: 100% 50%;
  }
  66% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.admin-main {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-main .admin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-main .admin-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-block: 0.7rem;
}

.admin-main .admin-form div .login-field {
  width: 15vw;
  font-size: 1rem;
  min-width: 18rem;
  padding: 0.2rem 0.4rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(160, 160, 160, 0.125);
  border-radius: 8px;
  color: #fff;
}

.admin-main .admin-form div label {
  width: 4.5rem;
  color: white;
}

.admin-main .admin-form .errors {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  color: white;
  text-align: center;
  margin-top: -8px;
}

.admin-main .admin-form .errors::before {
  content: "*";
  padding-right: 2px;
}

.admin-main .admin-form input[type="submit"] {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
  padding-block: 5px;
  margin-bottom: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(160, 160, 160, 0.125);
  border-radius: 8px;
  color: #fff;
}

#nav_admin_id ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.admin-logged-header {
  background-color: #fff;
}

.map-fnc {
  cursor: pointer;
  width: 40vw;
  height: auto;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
          box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
  border-radius: 10px;
  margin: 0.5rem;
}

.butt-submit-delete {
  background-color: white;
  padding: 1rem 5rem;
  border-radius: 20px;
  border: 2px #8d8d8d solid;
  width: 40vw;
  margin-top: 4rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}

.butt-submit-delete:hover {
  background-color: #ff0000;
  color: #fff;
}

.category-route.delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category_name_remove {
  text-align: center;
  margin-block: 2rem;
  font-size: 2rem;
}

.ul-data-remove {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-route {
  width: 100%;
  background-color: #fff;
}

.admin-category-add-heading {
  text-align: center;
  font-size: 2rem;
  margin-block: 2rem;
}

.admin-bg {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.admin-bg #category-name-add {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.admin-bg .category-name-adding {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.admin-bg .add-cetegory-successful {
  text-align: center;
}

.admin-bg .add-category-form-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.admin-bg .add-category-form-3 input[type="submit"] {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: white 2px solid;
  background-color: #ec1111;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 8px;
  width: 55%;
  margin-top: 2rem;
}

.admin-bg .add-category-form,
.admin-bg .add-category-form-2 {
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
          box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.admin-bg .add-category-form #link_picture_add,
.admin-bg .add-category-form-2 #link_picture_add {
  padding-block: 0.2rem;
  margin-bottom: 10px;
  border: 1px solid;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  width: 100%;
  color: #424242;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: #424242 2px solid;
  border-radius: 8px;
}

.admin-bg .add-category-form #link_picture_add::-webkit-input-placeholder,
.admin-bg .add-category-form-2 #link_picture_add::-webkit-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #link_picture_add:-ms-input-placeholder,
.admin-bg .add-category-form-2 #link_picture_add:-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #link_picture_add::-ms-input-placeholder,
.admin-bg .add-category-form-2 #link_picture_add::-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #link_picture_add::placeholder,
.admin-bg .add-category-form-2 #link_picture_add::placeholder {
  color: #585858;
}

.admin-bg .add-category-form #category_name,
.admin-bg .add-category-form-2 #category_name {
  margin-bottom: 10px;
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  width: 100%;
  color: #424242;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: #424242 2px solid;
  border-radius: 8px;
}

.admin-bg .add-category-form #category_name::-webkit-input-placeholder,
.admin-bg .add-category-form-2 #category_name::-webkit-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #category_name:-ms-input-placeholder,
.admin-bg .add-category-form-2 #category_name:-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #category_name::-ms-input-placeholder,
.admin-bg .add-category-form-2 #category_name::-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form #category_name::placeholder,
.admin-bg .add-category-form-2 #category_name::placeholder {
  color: #585858;
}

.admin-bg .add-category-form textarea,
.admin-bg .add-category-form-2 textarea {
  width: 100%;
  margin-block: 0.5rem;
  resize: vertical;
  padding: 0.4rem;
  font-size: 1rem;
  max-height: 20rem;
  min-height: 5rem;
  color: #424242;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: #424242 2px solid;
  border-radius: 8px;
}

.admin-bg .add-category-form textarea::-webkit-input-placeholder,
.admin-bg .add-category-form-2 textarea::-webkit-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form textarea:-ms-input-placeholder,
.admin-bg .add-category-form-2 textarea:-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form textarea::-ms-input-placeholder,
.admin-bg .add-category-form-2 textarea::-ms-input-placeholder {
  color: #585858;
}

.admin-bg .add-category-form textarea::placeholder,
.admin-bg .add-category-form-2 textarea::placeholder {
  color: #585858;
}

.admin-bg .add-category-form input[type="submit"],
.admin-bg .add-category-form-2 input[type="submit"] {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: white 2px solid;
  background-color: #ec1111;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  text-align: center;
  width: 55%;
}

.admin-bg .add-category-form .add-category-form-3,
.admin-bg .add-category-form-2 .add-category-form-3 {
  width: 40vw;
}

.admin-bg .add-category-form .add-category-form-3 input,
.admin-bg .add-category-form-2 .add-category-form-3 input {
  width: 100%;
  padding-left: 0.4rem;
  margin-block: 1rem;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px #acacac;
          box-shadow: 0px 5px 10px #acacac;
  border: white 2px solid;
  background-color: #424242;
  border-radius: 8px;
}

.admin-bg .add-category-form .add-category-form-3 input::-webkit-input-placeholder,
.admin-bg .add-category-form-2 .add-category-form-3 input::-webkit-input-placeholder {
  color: #dadada;
}

.admin-bg .add-category-form .add-category-form-3 input:-ms-input-placeholder,
.admin-bg .add-category-form-2 .add-category-form-3 input:-ms-input-placeholder {
  color: #dadada;
}

.admin-bg .add-category-form .add-category-form-3 input::-ms-input-placeholder,
.admin-bg .add-category-form-2 .add-category-form-3 input::-ms-input-placeholder {
  color: #dadada;
}

.admin-bg .add-category-form .add-category-form-3 input::placeholder,
.admin-bg .add-category-form-2 .add-category-form-3 input::placeholder {
  color: #dadada;
}

.admin-bg nav {
  border-bottom: 1px #c5c5c5 solid;
}

.admin-bg nav li:nth-of-type(1) {
  border: none;
}

.admin-bg nav li {
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  margin-block: 0.5rem;
  text-align: center;
  width: 100%;
  color: #fff;
  position: relative;
  left: 0;
  border-left: 2px #fff solid;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.admin-bg nav li:hover {
  left: 8px;
}

.admin-bg nav li a {
  color: white;
  text-decoration: none;
}

.admin-bg #admin_nav {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  padding: 0.5rem;
  position: absolute;
  margin: 0.3rem;
  left: 1rem;
  top: 4rem;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  border-radius: 50%;
}

.admin-bg #admin_nav:hover {
  background-color: rgba(165, 165, 165, 0.664);
}

.admin-bg .admin-logged-header h1 {
  color: black;
  text-align: center;
  font-size: 3rem;
}

.admin-list {
  border: none;
  -webkit-box-shadow: 0px 3px 20px #797878;
          box-shadow: 0px 3px 20px #797878;
  border-bottom: 2px #fff solid;
  background-color: #333333;
}

.action-name {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin-top: 4rem;
}

.loading {
  text-align: center;
  margin-block: 2rem;
}

.image-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.image-container .first-part-gallery,
.image-container .second-part-gallery {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container .first-part-gallery li p,
.image-container .second-part-gallery li p {
  color: #fff;
}

.image-container .first-part-gallery li img,
.image-container .second-part-gallery li img {
  margin: 2rem 0 0.3rem 0;
  height: auto;
  width: 100%;
}

.admin-main-feddback {
  margin-top: 2rem;
  -webkit-box-shadow: 0 -70px #fff;
          box-shadow: 0 -70px #fff;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-list-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.feedback-list-admin li {
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
          box-shadow: 1px 1px 5px 5px #cfcfcf, 4px -3px 1px 0 #ee1c00 inset;
  border-radius: 10px;
  margin: 0.5rem;
  width: 50rem;
}

.feedback-list-admin li .feedback-email {
  font-size: 1.7rem;
  color: #505050;
}

.feedback-list-admin li .feedback-subject {
  font-size: 1.5rem;
  color: #222222;
  margin-bottom: 1rem;
}

.feedback-list-admin li .feedback-message {
  color: #333333;
  font-size: 1.3rem;
}

.feedback-list-admin li .feedback-message::before {
  content: "Zpráva: ";
}

.feedback-list-admin li button {
  color: #ffffff;
  border: none;
  background-color: #ee1c00;
  padding: 0.4rem 0.8rem;
  float: right;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
}

.feedbacks-heading {
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
  #admin_nav {
    top: 14rem !important;
  }
  .click-about-icon {
    -ms-flex-item-align: unset !important;
        -ms-grid-row-align: unset !important;
        align-self: unset !important;
  }
  .back-button {
    display: none !important;
  }
  .contact-container .links {
    font-size: 1.6rem !important;
  }
  .image-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .image-container .image-part {
    width: 60vw !important;
    margin: 2rem auto !important;
  }
  .admin-bg nav ul {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .admin-bg nav ul li {
    border: none !important;
  }
}

@media screen and (max-height: 500px) and (min-height: 0) {
  .second-list {
    height: 85vh;
    overflow-y: scroll;
    position: absolute;
    top: 2rem;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding-inline: 1rem;
  }
  .second-list::-webkit-scrollbar {
    width: 15px;
  }
  .second-list::-webkit-scrollbar-track {
    border: 2px white solid;
    border-radius: 20px;
  }
  .second-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }
}

@media screen and (max-height: 350px) and (min-height: 0) {
  main {
    margin-top: 10rem;
  }
  .action-name {
    margin-top: 10rem;
  }
}

@media screen and (max-height: 200px) and (min-height: 0) {
  main {
    margin-top: 15rem;
  }
  .action-name {
    margin-top: 15rem;
  }
}

@media screen and (max-height: 100px) and (min-height: 0) {
  main {
    margin-top: 18rem;
  }
  .action-name {
    margin-top: 18rem;
  }
}

@media screen and (max-width: 1100px) and (min-width: 0px) {
  main .about-section div {
    display: block !important;
  }
  main .about-section div p {
    margin-block: 5rem !important;
  }
  main .about-section div img {
    max-width: 30rem !important;
  }
  .feedback-list-admin li {
    width: 25rem;
  }
}

@media only screen and (max-width: 350px) and (min-width: 0px) {
  .contact-form .errors2 {
    min-width: 10rem !important;
  }
  .contact-form input {
    min-width: 10rem !important;
  }
  .contact-form #email_id {
    min-width: 10rem !important;
  }
  .contact-form textarea {
    min-width: 10rem !important;
  }
}
/*# sourceMappingURL=style.css.map */