@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}
* {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;

}
.sec-body{
  background-image: url(https://images.unsplash.com/photo-1625492600712-84d1b02dc263?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 45vw;
}
.img-fotograf {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-fotograf {
  height: 100vh;
}
.header_burger_svg {
  position: relative;
  top: 20px;
  left: 20px;
  fill: #fff;
  cursor: pointer;
}
.burger-navigation {
  display: grid;
  place-content: center;
  min-height: calc(100vh - 8rem);
  background-color: #000;
  .burger-nav-link {
    color: #fff;
    border: #fff 1px solid;
    width: 8rem;
    margin-bottom: 4rem;
  }
}
.burger-container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}
.main-header {
  background-color: rgba(10, 10, 10, 0.733);
  height: 5rem;
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-inline: 4rem;
    height: 100%;
    ul {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin-block: 1rem;
      li {
        width: 8rem;
        margin-inline: 0.2rem;
      }
      a {
        border-inline: 1px solid #fff;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        padding-inline: 10px;
        text-decoration: none;
        position: relative;
      }
      .main-nav-link {
        color: #fff;
        border: #fff 1px solid;
        width: 8rem;
        font-size: .8rem;
      }
    }
  }
}
.main-logo {
  position: relative;
  min-height: calc(100vh - 8rem);
  display: grid;
  place-content: center;
  grid-template: 25vw 25vh / 68%;
  color: #fff;
  font-size: 7vw;
  p {
    align-self: center;
    text-align: center;
    border-inline: #fff solid 4px;
    padding-inline: 0.5rem;
  }
  a{
    display: flex;
    justify-content: center;
  }
}
.click-about-icon {
  margin-top: 2.7rem;
  transform: rotate(90deg);
  justify-self: center;
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  transition: top 2s, transform 0.7s;
  top: 0;
  border-radius: 50%;
  &:hover {
    animation: svgArrowIconAnim 1.2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    top: 2rem;
    transform: rotate(450deg);
  }
}
@keyframes svgArrowIconAnim {
  $myAnimaBorder: 3px;
  0% {
    border-left: #fff solid $myAnimaBorder;
  }
  25% {
    border-left: #fff solid $myAnimaBorder;
    border-top: #fff solid $myAnimaBorder;
  }
  50% {
    border-top: #fff solid $myAnimaBorder;
    border-inline: #fff solid $myAnimaBorder;
  }
  100% {
    border: #fff solid $myAnimaBorder;
  }
}
.myIconButton {
  height: 8rem;
}

.main-logo-burger {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  row-gap: 5vh;
  height: 80vh;
  p {
    text-align: center;
    border-inline: #fff solid 4px;
  }
  .click-about-icon {
    width: 75px;
    height: auto;
  }
}
#burger_img_fotograf {
  height: 100%;
}
main {
  padding: 5rem 0;
  word-spacing: 1px;
  letter-spacing: 3px;
  color: #fff;
  background-color: rgb(17, 17, 17);
  height: auto;
  .about-section {
    max-width: 1700px;
    padding-inline: 5rem;
    margin: 0 auto;
    div {
      display: grid;
      grid-template: 1fr 1fr 1fr / 3fr 3fr 3fr 3fr 3fr;
      text-align: center;
      gap: 5rem 10rem;
      img{
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
      .section-img-1 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
      }
      .para-1 { 
        grid-column: 1 / 3;
        align-self: center;
      }
      .section-img-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
      }
      .para-2 {
        grid-column: 4 / 6;
        align-self: center;
        grid-row: 2 / 3;
      }
      .section-img-3 {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
      }
      .para-3 {
        grid-column: 1 / 3;
        align-self: center;
      }
    }
  }
}
.back-button{
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: auto;
  transform: rotate(-90deg);
  fill: #fff;
}
@media only screen and (max-width: 700px) and (min-width: 0px) {
  .click-about-icon {
    align-self: unset;
  }
  .back-button{
    display: none;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 0px) {
  main {
    background-color: rgb(17, 17, 17);
    .about-section{
      div{
        display: block;
        p{
          margin-block: 5rem;
        }
        img{
          max-width: 30rem;
        }
      }
    }
  }
}