* {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", sans-serif;
  &:focus {
    outline: none;
  }
}
body {
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
}
.sec-body {
  background-image: url(https://images.unsplash.com/photo-1625492600712-84d1b02dc263?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 28rem;
}
.img-fotograf {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-fotograf {
  height: 100vh;
}
.header_burger_svg {
  position: relative;
  top: 20px;
  left: 20px;
  fill: #fff;
  cursor: pointer;
}
.burger-navigation {
  display: grid;
  place-content: center;
  min-height: calc(100vh - 8rem);
  background-color: #000;
  .burger-nav-link {
    display: grid;
    place-content: center;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 3.5rem;
    text-decoration: none;
    border: #fff 1px solid;
    margin-bottom: 4rem;
  }
}
.burger-container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}
.main-header {
  background-color: rgba(10, 10, 10, 0.733);
  height: 5rem;
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-inline: 4rem;
    height: 100%;
    ul {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin-block: 1rem;
      li {
        width: 8rem;
        margin-inline: 0.2rem;
      }
      .main-nav-link {
        color: #fff;
        text-align: center;
        padding: 0.3rem 2rem;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        border: #fff 1px solid;
        font-size: 0.9rem;
      }
    }
  }
}
.main-logo {
  position: relative;
  min-height: calc(100vh - 8rem);
  display: grid;
  place-content: center;
  grid-template: 25vw 25vh / 68%;
  color: #fff;
  font-size: 7vw;
  p {
    align-self: center;
    text-align: center;
    border-inline: #fff solid 4px;
    padding-inline: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    display: flex;
    justify-content: center;
  }
}
.click-about-icon {
  margin-top: 2.7rem;
  transform: rotate(90deg);
  justify-self: center;
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  transition: top 2s, transform 0.7s;
  top: 0;
  border-radius: 50%;
  &:hover {
    animation: svgArrowIconAnim 1.2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    top: 2rem;
    transform: rotate(450deg);
  }
}
@keyframes svgArrowIconAnim {
  $myAnimaBorder: 3px;
  0% {
    border-left: #fff solid $myAnimaBorder;
  }
  25% {
    border-left: #fff solid $myAnimaBorder;
    border-top: #fff solid $myAnimaBorder;
  }
  50% {
    border-top: #fff solid $myAnimaBorder;
    border-inline: #fff solid $myAnimaBorder;
  }
  100% {
    border: #fff solid $myAnimaBorder;
  }
}
.myIconButton {
  height: 8rem;
}

.main-logo-burger {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  row-gap: 5vh;
  height: 80vh;
  p {
    text-align: center;
    border-inline: #fff solid 4px;
  }
  .click-about-icon {
    width: 75px;
    height: auto;
  }
}
#burger_img_fotograf {
  height: 100%;
}
#main {
  z-index: -1;
  position: absolute;
  padding-top: 2rem;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: rgb(17, 17, 17);
  height: auto;
  .about-section {
    padding-bottom: 80px;
    max-width: 1700px;
    padding-inline: 5rem;
    margin: 0 auto;
    div {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(5, 3fr);
      text-align: center;
      gap: 5rem 10rem;
      .span-text {
        color: #df0000;
        letter-spacing: 1px;
      }
      #furt_bokem {
        letter-spacing: 1px;
        text-decoration: none;
        color: #df0000;
      }
      img {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
      .section-img-1 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
      }
      .para-1 {
        grid-column: 1 / 3;
        align-self: center;
      }
      .section-img-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
      }
      .para-2 {
        grid-column: 4 / 6;
        align-self: center;
        grid-row: 2 / 3;
      }
      .section-img-3 {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
      }
      .para-3 {
        grid-column: 1 / 3;
        align-self: center;
      }
    }
  }
  .contact {
    height: calc(100vh - 5rem);
    margin-inline: 3rem;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    .contact-form {
      max-width: 1000px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.095);
      input {
        float: right;
        font-size: 1.5rem;
        width: 100%;
        color: #fff;
        padding: 10px;
        border: 5px rgb(255, 255, 255) solid;
        border-bottom: none;
        background-color: rgba(124, 116, 116, 0);
      }
      #email_id {
        border-radius: 5px 5px 0 0;
      }
      input[type="submit"] {
        cursor: pointer;
        border-bottom: #fff 5px solid;
        border-radius: 0 0 5px 5px;
      }
      textarea {
        float: right;
        width: 100%;

        display: block;
        background-color: rgba(255, 255, 255, 0);
        border: 1px rgb(5, 5, 5) solid;
        resize: vertical;
        min-height: 4rem;
        height: 10rem;
        border: 5px rgb(255, 255, 255) solid;
        border-bottom: none;
        font-size: 1.5rem;
        color: #fff;
        padding: 10px;
      }
    }
    .contact-container {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template: 5rem 5rem / repeat(1, auto);
      margin-top: 4rem;
      row-gap: 3rem;
      text-align: center;
      .container-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .links {
        display: flex;
        align-items: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 2rem;
        font-size: 3.5vw;
        &.ig {
          background-image: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 20%,
            #dc2743 40%,
            #cc2366 60%,
            #bc1888 100%
          );
        }
        &.email {
          background-image: linear-gradient(
            45deg,
            #db364f 0%,
            #a80a0a 70%,
            #df6275 100%
          );
        }
      }
    }
    .link-logo {
      margin-bottom: -15px;
      .logo {
        height: 70px;
        width: 70px;
      }
    }
    a {
      color: #fff;
      height: 100px;
      font-size: 4rem;
    }
  }
  .contact-heading {
    text-align: center;
    height: 7rem;
    margin-bottom: 8rem;
    font-size: 6rem;
    font-family: "Oswald", sans-serif;
  }
}
.back-button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: auto;
  transition: opacity 1s, right 0.5s;
  transform: rotate(-90deg);
  fill: #fff;
  &:hover {
    opacity: 0.6;
    right: 15px;
  }
}
.admin-anim {
  min-height: 100vh;
  width: 100%;
  animation: adminBackground 8s infinite;
  background-image: linear-gradient(
    45deg,
    #854500 0%,
    #b12f00 20%,
    #950016 40%,
    #a70043 60%,
    #88045e 100%
  );
  background-repeat: no-repeat;
  background-size: 400% 400%;
}
.admin-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  h1 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
  }
}
@keyframes adminBackground {
  0% {
    background-position: 0% 50%;
  }
  33% {
    background-position: 100% 50%;
  }
  66% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@mixin form_background {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(160, 160, 160, 0.125);
  border-radius: 8px;
  color: #fff;
}
.admin-main {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  .admin-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 0.7rem;
      .login-field {
        width: 15vw;
        font-size: 1rem;
        min-width: 18rem;
        padding: 0.2rem 0.4rem;
        @include form_background;
      }
      label {
        width: 4.5rem;
        color: rgb(255, 255, 255);
      }
    }
    .errors {
      align-self: flex-end;
      justify-self: flex-start;
      color: rgb(255, 255, 255);
      text-align: center;
      margin-top: -8px;

      &::before {
        content: "*";
        padding-right: 2px;
      }
    }
    input[type="submit"] {
      margin-top: 0.5rem;
      font-size: 1.3rem;
      width: 100%;
      cursor: pointer;
      padding-block: 5px;
      margin-bottom: 2rem;
      @include form_background();
    }
  }
}
.admin-bg{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  @mixin change-nav {
    position: absolute;
    margin-top: 10rem;
  }
  .admin-change-js-none{
    top: 90vh;
    left: -4rem;
    opacity: 0;
    @include change-nav()
  }
  .admin-change-js{
    opacity: 1;
    top: 1rem;
    left: 2rem;
    display: block;
    @include change-nav()
  }
  #category-name-add{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  }
  .category-name-adding {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .add-category-form, .add-category-form-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    #link_picture_add{
      padding-block: .2rem;
    }
    #category_name{
      margin-bottom: 10px;
      border: 1px solid;
      padding: .2rem .5rem;
      width: 20rem;
      border: rgb(0, 0, 0) 2px solid;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 8px;
    }
    input[type='submit'] {
      border: none;
      align-self: flex-end;
      cursor: pointer;
      border: #df0000 2px solid;
      background-color: rgba(0, 0, 0, 0);
      padding: .2rem 1.5rem;
      border-radius: 8px;
      width: 10rem;
    }
  }
  .add-category-form-2{
    width: 40rem;
    input{
      width: 100%;
      padding-left: .4rem;
      margin-block: 1rem;
      border: #000 2px solid;
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
    }
    textarea{
      width: 100%;
      margin-block: .5rem;
      resize: vertical;
      padding: .4rem;
      font-size: 1rem;
      max-height: 20rem;
      min-height: 5rem;
      border: #000 2px solid;
      border-radius: 8px;
    }
    #add-picture-submit-all{
      width: 100%;
    }

  }
  nav{
    transition: left 2s, top 2s, opacity 1s;
    .admin-list{
      li{
        font-size: 1.5rem;
        cursor: pointer;
        width: 100%;
        margin-block: .5rem;
        
          width: 100%;
          position: relative;
          left: 0;
          transition: left .5s;
          &:hover{
            left: 8px;
          }
          &::before{
            left: -8px;
            content: '';
            position: absolute;
            width: 2px;
            height: 0px;
            background-color: #df0000;
            transition: all .8s;
          }
          &:hover::before{
            height: 3ch;
        }
        a{
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  #admin_nav{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: .5rem;
    position: absolute;
    bottom: 1rem;
    margin: .3rem;
    left: 1rem;
    cursor: pointer;
    transition: background-color 1s;
    border-radius: 50%;
    &:hover{
      background-color: rgba(221, 9, 9, 0.664);
    }
  }
  .admin-logged-header {
    h1 {
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 3rem;
    }
  }
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  .image-part {
    padding-inline: 20px;
    margin: 3rem auto;
    width: 40vw;
    .image-display {
      max-width: 100%;
      height: auto;
    }
    .image-description {
      color: #fff;
      &::before {
        content: "- ";
      }
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
  .click-about-icon {
    align-self: unset;
  }
  .back-button {
    display: none;
  }
  .contact-container {
    .links {
      font-size: 1.6rem !important;
    }
  }
  .image-container {
    flex-direction: column;
    .image-part {
      width: 60vw;
      margin: 2rem auto;
    }
  }
}
@media only screen and (max-width: 1100px) and (min-width: 0px) {
  main {
    .about-section {
      div {
        display: block !important;
        p {
          margin-block: 5rem;
        }
        img {
          max-width: 30rem;
        }
      }
    }
  }
}
